.scroller{
    overflow: auto;
    padding: 0px;
}
.scroller__table{
  padding: 0px;
}
.scroller::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroller::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
.scroller::-webkit-scrollbar-thumb {
    background: #b8bcc3; 
  }
.scroller::-webkit-scrollbar-track-piece {
    background-color: #f1f1f1;
    width: 10px;
}
.scroller__table::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}